# Ignorar todos los archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]

# Ignorar archivos de configuración del entorno virtual
.env
venv/

# Ignorar archivos de log
*.log

# Ignorar archivos de salida de compilación
build/
dist/
